@font-face {
    font-family: corska;
    src: url("../../fonts/Typedepot\ -\ Corsa\ Grotesk\ Thin.otf");
}

body {
    font-family: corska;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}


/* Nav bar*/

#header {
    background-color: rgb(0, 0, 0, 90%);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    text-decoration: none;
    color: white;
}

.navmenu {
    display: flex;
    align-items: center;
}

.imgnav {
    width: 1rem;
    margin-right: 0.4rem;
}

.menutext {
    color: #747779;
    text-decoration: none;
}


/** Banner**/

.banner-inner {
    color: #FFFFFF;
    text-decoration: none;
    height: 30rem;
    background-image: linear-gradient(to right, rgb(194 56 56 / 66%), rgb(0 0 0 / 88%) 65%), url(/images/banner.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*Sección 2*/

.inner-highlights {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.945), rgba(255, 255, 255, 0.952)), url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    text-align: center;
    height: 100%;
    padding-top: 4rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.content-card {
    max-width: 20rem;
    background-color: white;
    font-weight: 100;
    font-size: 0.8rem;
    padding: 5rem 1rem 3rem 1rem;
    margin-bottom: 3rem;
    margin-right: 10%;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 12%;
    padding-right: 12%;
}

.icon-card {
    color: rgb(187, 35, 35);
    font-size: 5rem;
    margin-bottom: 2rem;
}


/*   Sección 3   */

#cta {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/cta01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.innercta {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 0, 0, 14%);
}

.h2cta {
    color: white;
    font-size: 2rem;
    font-weight: normal;
    margin: 0.5rem;
}

.pcta {
    color: #d8d8d8;
    font-size: 0.8rem;
    width: 50%;
}


/*   Sección 4  */

.wrapper2 {
    height: 100%;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.753), rgba(255, 255, 255, 0.952)), url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 6rem;
}

.innerwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specialwrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h2wrapper2 {
    color: #333333;
    font-weight: lighter;
    margin: 0.5rem;
    font-size: 2rem;
}

.pwrapper2 {
    width: 70%;
    color: #333333;
    margin-bottom: 2rem;
}

.testimonials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.content {
    max-width: 15rem;
    background: white;
    padding: 2rem;
    border-radius: 0.3rem;
    margin: 1.5rem;
}

.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.image {
    width: 3rem;
    border-radius: 5rem;
    margin-right: 2rem;
}

.bltestimonials {
    border-left: 8px solid #7b777766;
    margin-left: 0;
    padding: 0.1rem;
}

.pbltestimonials {
    color: #5a5656;
    margin-left: 1.5rem;
    text-align: left;
    font-size: 0.9rem;
}

.credit {
    color: #5a5656;
    font-size: 0.7rem;
}

strong {
    color: #d82020;
}


/*  Footer */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #888888;
    font-size: 0.8rem;
}

#title {
    color: white;
}

.content-footer-f {
    display: flex;
    color: white;
    margin: 6rem;
    border-bottom: 1px solid #888888;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content1-footer {
    max-width: 40%;
    padding-right: 5rem;
    color: #888888;
}

.content2-footer {
    padding-right: 2%;
}

.plain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #888888;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

@media (max-width: 800px) {
    .content1-footer {
        max-width: 100%;
        padding-right: 1rem;
        color: #888888;
    }
}

@media (max-width: 600px) {
    .content1-footer {
        max-width: 100%;
        padding-right: 1rem;
        color: #888888;
    }
}